.navbar-default {
	background-color: #119cd9;
	border-color: #ffffff;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
	background-color: #119cd9;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	color: #000000;
	background-color: #13aff4;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #13aff4;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #000000;
	background-color: #13aff4;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #13aff4;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #000000;
	background-color: #13aff4;
}

.navbar-default .navbar-toggle {
	border-color: #13aff4;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #13aff4;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #000000;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  		color: #ffffff;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #000000;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #000000;
		background-color: #13aff4;
	}
}

.navbar-toggle {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-brand, .navbar-nav li a {
	line-height: 32px;
	height: 32px;
	padding-top: 0px;
}

.navbar-right {
	line-height: 32px;
	padding-top: 0px;
	color: #ffffff;
}

.nav > li > b {
	position: relative;
	display: block;
	padding: 0px 0px;
}